[Unit]
Description=The themis JWT issuer RBL-mode service
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
PIDFile=/run/rbl_themis.pid
ExecStartPre=/usr/bin/rm -f /run/rbl_themis.pid
ExecStart=/usr/bin/rbl_themis -f /etc/themis/rbl_themis.yaml
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutStopSec=10
KillMode=process
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target
