[Unit]
Description=The themis JWT issuer service in standalone mode
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
PIDFile=/run/themis.pid
ExecStartPre=/usr/bin/rm -f /run/themis.pid
ExecStart=/usr/bin/themis
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutStopSec=10
KillMode=process
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target
